<nav class="navbar navbar-expand-md navbar-dark fixed-top bg-primary" style="padding: 5px 0;">
  <div class="container">
    <a class="navbar-brand" routerLink="/" routerLinkActive="active">Date App</a>
      <ul class="navbar-nav mr-auto">
        <ng-container *ngIf="user$.currentUser$ | async">
          <li class="nav-item">
            <a class="nav-link" routerLink="./members" routerLinkActive="active">Matches</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="./likes" routerLinkActive="active">Likes</a>
          </li>
          <li class="nav-item">
            <a class="nav-link" routerLink="./messages" routerLinkActive="active">Messages</a>
          </li>
        </ng-container>
      </ul>

      <div class="dropdown" *ngIf="(user$.currentUser$ | async) as user" dropdown>
        <img [src]="user.photoUrl || './assets/user.png'" [alt]="user.knownAs">
        <a class="dropdown-toggle text-light ml-2 pl-1" dropdownToggle>Welcome {{ user.knownAs | titlecase }}</a>
        <div class="dropdown-menu mt-3" *dropdownMenu>
          <a class="dropdown-item" routerLink="./member/edit">Edit Profile</a>
          <div class="dropdown-divider"></div>
          <a class="dropdown-item" (click)="logout()">Logout</a>
        </div>
      </div>

      <form *ngIf="!(user$.currentUser$ | async)" class="form-inline mt-2 mt-md-0" #loginForm="ngForm" (ngSubmit)="login()" autocomplete="off">
        <input class="form-control mr-sm-2" type="text" placeholder="Username" name="username" [(ngModel)]="model.username">
        <input class="form-control mr-sm-2" type="password" placeholder="Password" name="password" [(ngModel)]="model.password">
        <button class="btn btn-outline-light my-2 my-sm-0" type="submit">Login</button>
      </form>
  </div>
</nav>