.dropdown-toggle, .dropdown-item {
  cursor: pointer;
}

.dropdown-toggle:hover {
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: #78c2ad;
}

.btn-outline-light:hover {
  color: inherit;
}

img {
  max-height: 50px;
  border: 2px solid #fff;
  border-radius: 5px;
  display: inline;
}