.dropdown-toggle, .dropdown-item {
  cursor: pointer;
}

.dropdown-toggle:hover {
  text-decoration: none;
}

.dropdown-item:hover {
  background-color: #78c2ad;
}

.btn-outline-light:hover {
  color: inherit;
}