<div class="row" style="border-bottom: 1px solid #eceeef;">
  <div class="col-3 pb-4" *ngFor="let photo of member.photos">
    <div class="img-container">
      <img class="img-thumbnail p-1" [src]="photo.url" [alt]="photo.url">
    </div>
    <div class="text-center d-flex justify-content-center">
      <button 
        class="btn btn-sm btn-primary mr-1" 
        (click)="setMainPhoto(photo)"
        [ngClass]="photo.isMain? 'active': ''"
        [disabled]="photo.isMain"
      >Set as DP</button>
      <button 
        class="btn btn-sm btn-danger"
        (click)="deletePhoto(photo.id)"
        [disabled]="photo.isMain"
      >
        <i class="fa fa-trash"></i>
      </button>
    </div>
  </div>
</div>

<div class="row mt-3">
  <div class="col-md-4">
    <h5 class="text-center">Add Photos</h5>
    <div ng2FileDrop 
      [ngClass]="{'nv-file-over': hasBaseDropZoneOver}" 
      (fileOver)="fileOverBase($event)"
      [uploader]="uploader" 
      class="card bg-faded p-3 text-center mb-3 my-drop-zone"
    >
      <i class="fa fa-upload fa-2x"></i>
      Drop photos here
    </div>

    <div class="text-center">
      Select photos to
      <input #inp type="file" ng2FileSelect [uploader]="uploader" multiple style="display: none;"/>
      <button class="btn btn-primary btn-sm" (click)="inp.click()">Upload</button>
    </div>
  </div>

  <div class="col-md-8" style="margin-bottom: 40px" *ngIf="uploader?.queue?.length">
    <h5 class="text-center">Upload queue</h5>

    <table class="table table-sm">
      <thead>
        <tr>
          <th width="70%">Name</th>
          <th>Size</th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let item of uploader.queue">
          <td><strong>{{ item?.file?.name }}</strong></td>
          <td *ngIf="uploader.options.isHTML5" nowrap>{{ item?.file?.size/1024/1024 | number:'.2' }} MB</td>
        </tr>
      </tbody>
    </table>

    <div class="queue">
      <div>
        Queue progress:
        <div class="progress" style="margin-bottom: 15px;">
          <div class="progress-bar progress-bar-striped progress-bar-animated" role="progressbar" [ngStyle]="{ 'width': uploader.progress + '%' }"></div>
        </div>
      </div>
      <button type="button" class="btn btn-success btn-sm" (click)="uploader.uploadAll()"
        [disabled]="!uploader.getNotUploadedItems().length">
        <span class="fa fa-upload"></span> Upload all
      </button>
      <button type="button" class="btn btn-secondary btn-sm" (click)="uploader.cancelAll()"
        [disabled]="!uploader.isUploading">
        <span class="fa fa-ban"></span> Cancel all
      </button>
      <button type="button" class="btn btn-danger btn-sm" (click)="uploader.clearQueue()"
        [disabled]="!uploader.queue.length">
        <span class="fa fa-trash"></span> Remove all
      </button>
    </div>

  </div>

</div>